@model VigmedSO.Domain.HojaReclamo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix" style="margin-bottom: 1px;"></div>
<div class="panel-group">
    <ol class="breadcrumb alert-link" style="background-color:rgb(254, 254, 254);border-bottom: 1px solid black;">
        @*border-top-style: dotted; border-right-style: solid; border-bottom-style: dotted; border-left-style: solid;*@
        <li class="active">
            <a href="/Home/Index" style="color:black"> <span class="glyphicon glyphicon-home"></span> Menú Principal</a>
        </li>
        <li>
            <a href="/HojaReclamoes/Index" style="color:black"><span class="fa fa-book"></span> Hoja Reclamo</a>
        </li>
        <li style="color:dimgray">
            </i><span class="glyphicon glyphicon-plus"></span> Registrar HOJA RECLAMO
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Nota!</strong> Asegúrese de buscar una persona existente!
        </div>
    </div>
</div>

@using (Ajax.BeginForm("SelectPersona", new AjaxOptions()
{
    UpdateTargetId = "datosTrab",
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel" style="background-color: rgb(41, 66, 106); text-align: center">
                        <h4 style="color:white">Búsqueda de Persona para Registro Reclamo</h4>
                    </div>
                    <div class="panel-body col-md-offset-2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">DNI :</label>
                            <div class="col-md-5">
                                @Html.TextBox("dni", null, new { @class = "form-control", @placeholder = "Ingrese DNI...", @maxlength = "8", @required = "required" })
                            </div>
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-search "></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("Create", "HojaReclamoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel" style="background-color: rgb(41, 66, 106); text-align: center">
                        <h4 style="color:white">Registro de Reclamo</h4>
                    </div>
                    <div class="panel-body col-md-offset-2">
                        <div id="datosTrab">
                        </div>
                        <div class="clearfix" style="margin-bottom: 10px;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Justificación :</label>
                            <div class="input-group date ">
                                <div class="col-md-10">
                                    <div class='input-group date' id='datetimepicker1' style="width: 280px">
                                        @Html.EditorFor(model => model.d_fechaR, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese Fecha..." } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.d_fechaR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom: 5px;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Parentesco:</label>
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.i_Parentesco, new SelectList(
                                new List<Object>
                                {
                                    new {value = "", text = "[Seleccionar...]"},
                                    new {value = "1", text = "PAPÁ"},
                                    new {value = "2", text = "MAMÁ"},
                                    new {value = "3", text = "HERMANO"},
                                    new {value = "4", text = "HERMANA"},
                                    new {value = "5", text = "HIJO"},
                                    new {value = "6", text = "HIJA"}
                                }, "value", "text", ""), htmlAttributes: new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.i_Parentesco, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom: 5px;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Producto:</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.i_Producto)
                                    @Html.ValidationMessageFor(model => model.i_Producto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom: 5px;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Servicio:</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.i_Servicio)
                                    @Html.ValidationMessageFor(model => model.i_Servicio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom: 5px;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Servicio:</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.i_Servicio)
                                    @Html.ValidationMessageFor(model => model.i_Servicio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom: 5px;"></div>

                        <div class="panel-body col-md-offset-2">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Motivo :</label>
                                <div class="col-md-5">
                                    @Html.TextBox("dni", null, new { @class = "form-control", @placeholder = "Ingrese DNI...", @maxlength = "8", @required = "required" })
                                </div>
                                <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search "></span>
                                </button>
                            </div>
                        </div>


                        @*<br /><br /><br />
        <div class="form-group">
            <label class="col-sm-2 control-label">Motivo :</label>
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.Motivo, new { @class = "form-control", @rows = 5, @cols = 220, @placeholder = "Ingrese Descripción de Justificación...", @maxlength = "500" })
                @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
            </div>
        </div>*@

                    </div>


                    <br />
                    <div class="container">
                        <div class="col-md-2 col-md-offset-4">
                            <a href="~/JustificacionTra/index" class="btn btn-warning">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-success" aria-hidden="true">
                                <span class="glyphicon glyphicon-ok"></span> Crear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>HojaReclamo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.v_IdHojaReclamo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.v_IdHojaReclamo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.v_IdHojaReclamo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_CorrelativoReclamo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_CorrelativoReclamo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_CorrelativoReclamo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.d_fechaR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.d_fechaR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.d_fechaR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.v_IdPaciente, "v_IdPaciente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("v_IdPaciente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.v_IdPaciente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Parentesco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_Parentesco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_Parentesco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Producto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_Producto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_Producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Servicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_Servicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_Servicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.v_MontoReclamo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.v_MontoReclamo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.v_MontoReclamo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.v_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.v_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.v_Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Reclamo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_Reclamo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_Reclamo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Queja, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_Queja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_Queja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.v_Detalle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.v_Detalle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.v_Detalle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.v_Pedido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.v_Pedido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.v_Pedido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.b_FirmaConsumidor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_FirmaConsumidor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.b_FirmaConsumidor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.d_FechaComunicacionRespuesta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.d_FechaComunicacionRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.d_FechaComunicacionRespuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.b_FirmaProveedor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_FirmaProveedor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.b_FirmaProveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_IsDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_IsDeleted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_IsDeleted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_InsertUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_InsertUserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_InsertUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.d_InsertDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.d_InsertDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.d_InsertDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_UpdateUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.i_UpdateUserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.i_UpdateUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.d_UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.d_UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.d_UpdateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.v_ComentaryRegistros, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.v_ComentaryRegistros, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.v_ComentaryRegistros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
